.Settings {
    width: 100%;
    height: calc(100% - 52px);
    position: absolute;
    top: 52px;
    left: 0px;
}

.Settings-inner {
    position: absolute;
    top: 100px;
    left:50%;
    transform: translateX(-50%);
}
